@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


:root{
    --light-blue:#6263D5;
    --dark-blue:#171D49;
    --yellow:#FEC959;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style-type: none;
    display:flex;
    flex-flow: row nowrap;
    font-size: 14px;
    font-weight: 400;
 
}
li{
    margin: 0.8rem;
}

/* UTILITIES CLASS */
.btn-lg{
    color:var(--dark-blue);
    background: var(--yellow);
    padding: 1rem 2.3rem;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1rem; 
    border: none;
    margin-top: 1rem;
}

.btn-top{
    color:var(--dark-blue);
    background: var(--yellow);
    padding: 1rem 2.3rem;
    font-size: 14px;
    font-weight: 500;
    transform: translateY(-30%);
    border-radius: 1rem; 
}
.text-lg{
    font-size: 52px;
}
.text-md{
    font-size: 18px;
    font-weight: 400;
}


/* SHOWCASE AREA*/
.showcase{
    background: var(--light-blue);
    color:#fff;
    height:100vh;
    position: relative;
    overflow: hidden;
}
.showcase-top{
    position: relative;
    height:20%;

}
.top-logo{
    position: absolute;
    top:40%;
    left:5%;
}
.showcase-menu{
    position: absolute;
    left:55%;
    top:40%;
}
.showcase-content{
   display: grid;
   grid-template-columns: 1fr 1fr;
    margin:3rem;
    text-align: start;
    line-height: 1.5;
    position: relative;
}
.showcase-text{
    width:100%;  
}
.showcase-content img{
    width:1000px;
    transform: rotate(-17deg);
    position: absolute;
    top:20%;
    left:43%;
}
.showcase-content .phone-img{
    width:400px;
    transform: rotate(-10deg);
    position: absolute;
    top:-9%;
    left:60%;
}

